.poke-card {
  background-color: bisque;
}

.poke-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer {
  background-color: blue;
  color: bisque;
}

.header {
  background-color: blue;
  color: bisque;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
